.home {
  background-color: rgb(
    29,
    35,
    41
  ); /* Dark background for the entire Home section */
  padding: 20px;
  text-align: center;
  color: #f2f2f2;
}

.home h1 {
  font-size: 2em; /* Increase heading size */
  margin-bottom: 20px;
}

.home p {
  font-size: 1.1em; /* Slightly larger paragraph text */
  line-height: 1.5; /* Improve readability */
  margin-bottom: 20px;
}

.home a {
  color: #f2f2f2;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Rounded corners for buttons */
  cursor: pointer; /* Indicate clickable button */
  text-decoration: none; /* Remove underline from button text */
  display: inline-block; /* Allow buttons to be placed side-by-side */
  margin-top: 10px; /* Add spacing above buttons */
}

/* Optional: Styling for a hero image (replace with your image path) */
.home img {
  height: auto;
}
.logo-small {
  width: 150px;
}
